.form {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.quarter {
  width: 25%;
  padding: 16px;
}
.md-card > .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.card-wrapper {
  width: 25%;
}
@media all and (max-width: 980px) {
  .quarter {
    width: 50%;
    padding: 16px;
  }
  .card-wrapper {
    width: 50%;
  }
}
@media all and (max-width: 480px) {
  .quarter {
    width: 90%;
    padding: 5%;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .card-wrapper {
    width: 100%;
  }
  .md-card > .img-container {
    min-height: 0%;
  }
}

.results {
  padding: 10px;
  
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.md-card {
  box-sizing: border-box;
  margin: 16px;
  background: #eee;
}

.md-card > .img-container > img {
  max-width: 100%;
}

.md-card-content {
  padding: 10px;
}

.little-block {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.has-v-padding {
  margin-bottom: 5px;
  margin-top: 5px;
}