<div class="vehicles container">
  <div class="chooser">
    <form class="form">
      <mat-form-field class="quarter">
        <mat-select placeholder="Type" [(ngModel)]="selectedType" name="type" (change)="onFilter('type', selectedType)">
          <mat-option class="option type-option" *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="quarter">
        <mat-select placeholder="Brand" [(ngModel)]="selectedBrand"  name="brand" (change)="onFilter('brand', selectedBrand)">
          <mat-option class="option brand-option" *ngFor="let brand of brands" [value]="brand">
            {{brand}}
          </mat-option>
        </mat-select>        
      </mat-form-field>
      <mat-form-field class="quarter">
        <mat-select placeholder="Color" [(ngModel)]="selectedColor" name="color" (change)="onFilter('color', selectedColor)">
          <mat-option  class="option color-option" *ngFor="let color of colors" [value]="color">
            {{color}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="quarter">
        <button class="clear-filters" mat-raised-button (click)="clearFilters()">Clear Filters</button>
      </div>  
    </form>
  </div>

  <div class="results card-container">
    <div class="card-wrapper" *ngFor="let vehicle of vehicles">
      <div md-card class="md-card vehicle">
        <div class="img-container">
          <img md-card-image [alt]="vehicle.brand" [src]="vehicle.img">
          
        </div>
        <div class="md-card-content">
          <h3>{{ vehicle.brand }}</h3>
          <md-card-content class="secondary">
            <mat-chip-list>
              <mat-chip class="has-v-padding">{{ vehicle.type | titlecase }}</mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="selectedColor" class="has-v-padding">
              <mat-chip  class="has-v-padding">
                <span class="little-block" [ngStyle]="{'background': selectedColor}"></span>&nbsp;{{ selectedColor }}
              </mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="!selectedColor" class="has-v-padding">
                <mat-chip *ngFor="let color of vehicle.colors" class="has-v-padding">
                    <span class="little-block" [ngStyle]="{'background': color}"></span>&nbsp;{{ color }}
                  </mat-chip>
            </mat-chip-list>
          </md-card-content>
        </div>
      </div>
    </div>
  </div>    
</div>